*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Raleway', sans-serif;
    margin: 0 auto 0 auto;
    font-size: 16px;
    max-width: 1338px;
}

h1, h2, h3, h4, h5 , h6{
    font-weight: 700;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--black);
}

/* Variables */
:root{
    --blue: #0065FC;
    --lightBlue: #DEEBFF;
    --grey: #F2F2F2;
    --black: #000000;
}
/* !Variable */

.navbar{
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: flex-end ;
}
.navbar_img{
    width: 100px;
    float: left;
}
.navbar_list{
    display: flex;
    /* flex-flow: row-reverse; */
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: center;
}

.navbar_listElt{
    
    padding: 48px 22px 24px 28px;
    border-top: 2px solid var(--blue);
}

.inscription{
    color: var(--blue);
    font-weight: 700;
}

.navbar_link:hover{
    color: var(--blue);
}
.navbar_link:active{
    color: var(--blue);

}