h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-size: 100%; */
  font-weight: 700;
}
h2 {
  font-size: 1.375rem;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* img {
  height: auto;
  max-width: 100%;
} */

/* !Reset */

/* Variables */
:root {
  --blue: #0065fc;
  --lightBlue: #deebff;
  --lightgrey: #f2f2f2;
  --black: #000000;
}
/* !Variable */

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  max-width: 1338px;
  margin: auto;
}

a {
  text-decoration: none;
  color: var(--black);
}

.blue {
  color: var(--blue);
}

.grey {
  color: #d2d2d2;
}

/* Navbar */

.navbar_img {
  margin: 1.25em;
}

.navbar_list {
  display: flex;
  justify-content: space-between;
}

.navbar_listElt {
  width: 50vw;
  text-align: center;
  padding-bottom: 1em;
  border-bottom: 3px solid transparent;
}

.navbar_listElt:hover {
  border-bottom: 3px solid var(--blue);
}

.navbar_link:hover {
  color: var(--blue);
}
.navbar_link:active {
  color: var(--blue);
}

.inscription {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 2.3em;
  margin-right: 1.25em;
  font-weight: 700;
  color: var(--blue);
}
/* !Navbar */

/* Header */
.main_content {
  padding: 2em 0;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.header {
  padding: 0 1.25rem;
}

.header_title {
  font-size: 1.375em;
  margin-bottom: 0.8rem;
}

.header_text {
  margin-bottom: 2em;
}

.header_form,
#ville,
.submit_btn {
  font-weight: 700;
  font-size: 1.125rem;
}

.header_form {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.form_label {
  padding: 0.9rem;
  padding-left: 1rem;
  background-color: var(--lightgrey);
  border-radius: 0.8rem 0 0 0.8rem;
  border: 1px solid var(--lightgrey);
}
#ville {
  border: none;
  padding: 0.9rem 1em;
  padding-right: 0;
  border: 1px solid var(--lightgrey);
}

.submit_btn {
  border: none;
  border-radius: 14px;
  background-color: var(--blue);
  color: #ffffff;
  padding: 0.9rem 1rem;
  margin-left: -1.1rem;
}

.btn_text {
  display: none;
}

/* Filters*/
.filter_checkbox {
  display: none;
}

.filters_list {
  display: flex;
  flex-flow: wrap;
  column-gap: 0.6rem;
  row-gap: 1rem;
  margin: 1rem 0;
}

.filter_elt {
  position: relative;
  border: 2px solid #d2d2d2;
  font-weight: 700;
  padding: 0.8em 1.2em 0.8em 3.8em;
  border-radius: 50em;
}

.filter_elt .fas {
  color: var(--blue);
  background-color: var(--lightBlue);
  padding: 1.1em;
  border-radius: 50%;
  position: absolute;
  top: -3px;
  left: -3px;
}

.filter_info {
  margin: 2rem 0;
  display: flex;
  align-items: baseline;
}

.filter_info .fas {
  color: var(--blue);
  padding: 0.4rem 0.6rem;
  border: 1px solid #d2d2d2;
  border-radius: 25em;
  font-size: 0.75rem;
  margin-right: 0.5rem;
}
/* Main */
.card {
  border-radius: 1rem;
  margin-bottom: 0.75rem;
  padding: 0.4em;
  box-shadow: 0 8px 15px #00000020;
  background-color: #fff;
}
/* Populaires */
.populaires {
  padding: 2rem 1.25rem;
  background-color: var(--lightgrey);
}

.flex_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.375rem;
  margin-bottom: 2rem;
}

.pop_card {
  height: 145px;
  display: flex;
}

.pop_img {
  width: 145px;
  object-fit: cover;
  border-radius: 0.8rem 0 0 0.8rem;
  margin-right: 1.25rem;
}

.pop_aside {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.article_title {
  font-size: 1rem;
  margin-bottom: 0.5em;
}
.article_text {
  font-size: 0.875rem;
}
.fa-star {
  font-size: 0.7rem;
}

/* Hebergements */
.section_hebergements {
  padding: 2rem 1.25rem;
}
.hebergements {
  padding: 0.4em;
  margin-bottom: 2rem;
}

.hebergement_img {
  width: 100%;
  height: 110px;
  object-fit: cover;
  border-radius: 0.8rem 0.8rem 0 0;
}

.heb_info {
  margin: 0.6rem;
}

.hebergement .notation {
  margin-top: 0.3rem;
}

.more_link {
  font-size: 1.125rem;
  font-weight: 700;
}

.section_title {
  margin-bottom: 1rem;
}
/* Activites */
.activites {
  padding: 2rem 1.25rem 1rem 1.25rem;
}

.activites_title {
  margin-bottom: 1.4rem;
}

.activite_img {
  width: 100%;
  height: 132px;
  object-fit: cover;
  border-radius: 0.8rem 0.8rem 0 0;
}

.activite_title {
  margin: 1rem;
}
/* !Activites */

/* Footer */

.footer {
  padding: 1.375rem;
  background-color: var(--lightgrey);
}

.footer_menus {
  margin: 0 8px;
}

.footer_list_title {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 18px;
}

.footer_list {
  padding: 0;
  margin-bottom: 36px;
}

.footer_list_elt {
  padding: 8px 0;
}

.footer_list_elt:hover {
  color: var(--blue);
}
